* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #404040;
    color: white;
    padding: 10px;
    text-align: center;
}

header {
    font-size: 1.5em;
}

main {
    margin: 0 auto;
    max-width: 400px;
}

main img {
    width: 100%;
    box-shadow: 0 0 39px gray;
}

main section {
    background-color: lightgray;
    padding: 10px;
    margin: 20px 0;
}

h1 {
    font-size: 1.75em;
    margin-top: 20px;
}

h2 {
    margin-top: 0;
    border-bottom: 1px solid black;

}

section p {
    margin-bottom: 0;
    margin: 10px 20px;

}

ul {
    padding-left: 20px;
    margin: 10px 20px;

}